<!DOCTYPE html>
<html lang="en">

<head>
    <title>Articles</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

</head>
<div class="container">
    <div class="page-header">
        <h1>Articles</h1>
    </div>

    <div class="row">
        <div class="col-md-9">
            <div class="tab-content">
                {% for article in articles %}

                <div id="{{article.id}}" class="tab-pane fade in
                    {% if forloop.counter0 == 0 %} in active 
                    {% endif%}
                ">
                    <h3> {{article.title}}</h3>
                    <p> {{article.content}}</p>
                </div>
                {% endfor %}



            </div>
        </div>





    </div>


    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
            {% for article in articles %}
            <li 
            {% if forloop.counter0 == 0 %} 
            class="active"
            {% endif %}>
            <a data-toggle="pill" href="#{{article.id}}">  {{article.title}} </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>


</html>